#superheros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px; }
  #superheros .hero {
    width: 230px; }
    #superheros .hero img {
      width: 200px;
      height: 200px; }
    #superheros .hero-description {
      position: relative;
      top: -55px;
      width: 200px;
      background-color: rgba(230, 230, 230, 0.5);
      padding: 10px;
      color: #3F3F3F; }
      #superheros .hero-description .hero-name {
        font-weight: bold;
        font-size: 12px; }
<<<<<<< HEAD:react-ui/src/app/pages/superheros/index.css
      #superheros .hero-description .hero-link .fa-book {
        color: #696969;
        margin-right: 3px; }
      #superheros .hero-description .hero-link a {
        color: white;
        margin-right: 3px; }
        #superheros .hero-description .hero-link a:last-child {
          margin-right: 0; }
=======
      #superheros .hero-description .hero-link {
        font-size: 12px; }
        #superheros .hero-description .hero-link .fa-book {
          color: #696969;
          margin-right: 3px; }
        #superheros .hero-description .hero-link a {
          color: white;
          margin-right: 3px; }
          #superheros .hero-description .hero-link a:last-child {
            margin-right: 0; }
>>>>>>> dev:react-ui/src/app/pages/superheros/components/herosblocs/index.css
