$screen-sm-min:     768px;
$pink:              #DA0073;

#header {
    color: $pink;
    text-align: center;

    #title {
        h2 {
            margin-bottom: 0;
        }
    
        #subheader {
            display: flex;
            justify-content: center;
    
            img {
                height: 65px;
            }
        }
    }
}
