$screen-sm-min:     768px;
$pink:              #DA0073;

#header {
    color: $pink;
    text-align: center;
    margin-top: 30px;

    #title {

        a {
            color: $pink;
        }

        h2, h3 {
            margin-top: 0;
        }
    
        #subheader {
            display: flex;
            justify-content: center;
    
            img {
                height: 30px;
            }
        }
    }
}
